## Human-Centered Data Science
### Assignment 2: Bias

Andrew Smith (ucalegon@uw.edu)

Instructions: You will first load the page_data.csv from Wikipedia. This file contains the following fields:

    1) the name of the page/article
    2) the country from which the article originated
    3) the last revision ID of the article

This file contains information about politicians in each country. Our task is to analyze any bias found in the data.

In [16]:
import requests
import pandas
import json

# Load the page data
fp = 'page_data.csv'
df = pandas.read_csv(fp)
df

,page,country,rev_id
0,Template:ZambiaProvincialMinisters,Zambia,235107991
1,Bir I of Kanem,Chad,355319463
2,Template:Zimbabwe-politician-stub,Zimbabwe,391862046
3,Template:Uganda-politician-stub,Uganda,391862070
4,Template:Namibia-politician-stub,Namibia,391862409
5,Template:Nigeria-politician-stub,Nigeria,391862819
6,Template:Colombia-politician-stub,Colombia,391863340
7,Template:Chile-politician-stub,Chile,391863361
8,Template:Fiji-politician-stub,Fiji,391863617
9,Template:Solomons-politician-stub,Solomon Islands,391863809
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
11,Template:Somalia-politician-stub,Somalia,393298432
12,Yos Por,Cambodia,393822005
13,Template:Slovakia-politician-stub,Slovakia,394482629
14,Template:Slovenia-politician-stub,Slovenia,394482891
15,Template:Afghanistan-politician-stub,Afghanistan,394580295
16,Template:Iraq-politician-stub,Iraq,394580630
17,Template:Nepal-politician-stub,Nepal,394580939
18,Template:SriLanka-politician-stub,Sri Lanka,394580993
19,Template:Laos-politician-stub,Laos,394581284
20,Template:Albania-politician-stub,Albania,394581557
21,Template:CostaRica-politician-stub,Costa Rica,394587483
22,Template:Honduras-politician-stub,Hondura,394587547
23,Julius Gregr,Czech Republic,395521877
24,Edvard Gregr,Czech Republic,395526568
25,Robert Douglas Cook,Canada,401577829
26,Template:Tunisia-politician-stub,Tunisia,413885084
27,Template:Guatemala-politician-stub,Guatemala,433871129
28,Template:BurkinaFaso-politician-stub,Burkina Faso,433871165
29,Template:Angola-politician-stub,Angola,435008715
...,...,...,...
47167,Jaime del Burgo Torres,Spain,807475042
47168,Tunahan Kuzu,Turkey,807475476
47169,Mark Feygin,Russia,807475576
47170,Bernard Williams,United Kingdom,807476248
47171,Alice Muthoni Wahome,Kenya,807476386
47172,Don Chipp,Australia,807476693
47173,Avi Gabbay,Israel,807476738
47174,Greg Wilton,Australia,807477468
47175,Siad Barre,Somalia,807477894
47176,V.P. Deenadayalu Naidu,India,807478407
47177,Nursultan Nazarbayev,Kazakhstan,807478471
47178,Aga Muhlach,Philippines,807479087
47179,Elizabeth II,Fiji,807479170
47180,Haki Toska,Albania,807479431
47181,Hakija Turajlić,Bosnia-Herzegovina,807479443
47182,King Gutierrez,Philippines,807479587
47183,Mark Boleat,United Kingdom,807479783
47184,Amir Khadir,Canada,807479923
47185,Mangal Das Pakvasa,India,807479965
47186,Hakkı Keskin,Germany,807480590
47187,Yang Jiechi,China,807481066
47188,Li Jiancheng,China,807481329
47189,Mahmoud Ahmadinejad,Iran,807481450
47190,George I of Greece,Greece,807481543
47191,Hal Bidlack,United States,807481636
47192,Yahya Jammeh,Gambia,807482007
47193,Lucius Fairchild,United States,807483006
47194,Fahd of Saudi Arabia,Saudi Arabia,807483153
47195,Francis Fessenden,United States,807483270
47196,Ajay Kannoujiya,India,807484325

Load the population data to merge join the population numbers to it. I had to clean up the original population numbers for them to be consumable by this process.

In [10]:
dfpop = pandas.read_csv('population_transformed.csv')
dfpop.columns = ['country', 'population']
dfpop

                  country  population
0             Afghanistan    32247000
1                 Albania     2892000
2                 Algeria    39948000
3                 Andorra       78000
4                  Angola    25000000
5     Antigua and Barbuda       90000
6               Argentina    42426000
7                 Armenia     3017106
8               Australia    23888000
9                 Austria     8615955
10             Azerbaijan     9651000
11                Bahamas      377000
12                Bahrain     1412299
13             Bangladesh   160411000
14               Barbados      278000
15                Belarus     9524247
16                Belgium    11211064
17                 Belize      368000
18                  Benin    10583034
19                 Bhutan      757000
20                Bolivia    10475500
21     Bosnia-Herzegovina     3650114
22               Botswana     2139900
23                 Brazil   204519398
24                 Brunei      413000
25               Bulgaria     7181000
26           Burkina Faso    18450400
27                Burundi    10742000
28               Cambodia    15417100
29               Cameroon    23739000
..                    ...         ...
180             Swaziland     1286000
181                Sweden     9804792
182           Switzerland     8292851
183                 Syria    17065000
184                Taiwan    23468000
185            Tajikistan     8452153
186              Tanzania    52291000
187              Thailand    65121250
188           Timor-Leste     1244759
189                  Togo     7231000
190                 Tonga      103300
191   Trinidad and Tobago     1351000
192               Tunisia    11026000
193                Turkey    78215000
194          Turkmenistan     5373000
195                Tuvalu       11800
196                Uganda    40141000
197               Ukraine    42828300
198  United Arab Emirates     9577000
199        United Kingdom    65092000
200         United States   321234172
201               Uruguay     3562000
202            Uzbekistan    31290791
203               Vanuatu      277500
204             Venezuela    30620000
205               Vietnam    91714080
206        Western Sahara      604000
207                 Yemen    26737000
208                Zambia    15473900
209              Zimbabwe    17354000

[210 rows x 2 columns]

Send API calls to Wikimedia, 50 at a time, to retrieve the article quality score.

In [9]:
# Set a few variables for use later
endpoint = 'https://ores.wikimedia.org/v3/scores/{project}/?models={model}&revids={revids}'
headers = {'User-Agent' : 'https://github.com/ucalegon1979', 'From' : 'ucalegon@uw.edu'}
project = 'enwiki'
model = 'wp10'

i = 0
increment = 50

# Create an empty dataframe to contain the responses of article quality for each rev_id
dfresponse = pandas.DataFrame(columns=['rev_id','response'])

while i < df.shape[0]:
    params = {'project': project,
              'model': model,
              'revids': '|'.join(str(x) for x in df['rev_id'][i:i+increment])
              }

    api_call = requests.get(endpoint.format(**params))
    response = api_call.json()

    # retrieve the response out of the returned dictionary for each rev_id
    for id in response['enwiki']['scores']:
        r = ''
        try:
            r = response['enwiki']['scores'][id]['wp10']['score']['prediction']
        except KeyError:
            r = 'Revision Not Found'

        dfresponse.loc[i] = {'rev_id':id, 'response':r}
        i += 1

    if i % 1000 == 0:
        print(str(i) + ' at time ' + strftime("%a, %d %b %Y %H:%M:%S +0000", localtime()))

1000 at time Thu, 02 Nov 2017 04:27:04 +0000
2000 at time Thu, 02 Nov 2017 04:27:12 +0000
3000 at time Thu, 02 Nov 2017 04:27:19 +0000
4000 at time Thu, 02 Nov 2017 04:27:27 +0000
5000 at time Thu, 02 Nov 2017 04:27:35 +0000
6000 at time Thu, 02 Nov 2017 04:27:43 +0000
7000 at time Thu, 02 Nov 2017 04:27:51 +0000
8000 at time Thu, 02 Nov 2017 04:28:00 +0000
9000 at time Thu, 02 Nov 2017 04:28:08 +0000
10000 at time Thu, 02 Nov 2017 04:28:16 +0000
11000 at time Thu, 02 Nov 2017 04:28:25 +0000
12000 at time Thu, 02 Nov 2017 04:28:33 +0000
13000 at time Thu, 02 Nov 2017 04:28:41 +0000
14000 at time Thu, 02 Nov 2017 04:28:51 +0000
15000 at time Thu, 02 Nov 2017 04:29:00 +0000
16000 at time Thu, 02 Nov 2017 04:29:09 +0000
17000 at time Thu, 02 Nov 2017 04:29:18 +0000
18000 at time Thu, 02 Nov 2017 04:29:27 +0000
19000 at time Thu, 02 Nov 2017 04:29:37 +0000
20000 at time Thu, 02 Nov 2017 04:29:46 +0000
21000 at time Thu, 02 Nov 2017 04:29:57 +0000
22000 at time Thu, 02 Nov 2017 04:30:07 +0000
23000 at time Thu, 02 Nov 2017 04:30:17 +0000
24000 at time Thu, 02 Nov 2017 04:30:27 +0000
25000 at time Thu, 02 Nov 2017 04:30:38 +0000
26000 at time Thu, 02 Nov 2017 04:30:48 +0000
27000 at time Thu, 02 Nov 2017 04:30:59 +0000
28000 at time Thu, 02 Nov 2017 04:31:10 +0000
29000 at time Thu, 02 Nov 2017 04:31:20 +0000
30000 at time Thu, 02 Nov 2017 04:31:30 +0000
31000 at time Thu, 02 Nov 2017 04:31:41 +0000
32000 at time Thu, 02 Nov 2017 04:31:52 +0000
33000 at time Thu, 02 Nov 2017 04:32:03 +0000
34000 at time Thu, 02 Nov 2017 04:32:14 +0000
35000 at time Thu, 02 Nov 2017 04:32:25 +0000
36000 at time Thu, 02 Nov 2017 04:32:35 +0000
37000 at time Thu, 02 Nov 2017 04:32:46 +0000
38000 at time Thu, 02 Nov 2017 04:32:58 +0000
39000 at time Thu, 02 Nov 2017 04:33:09 +0000
40000 at time Thu, 02 Nov 2017 04:33:20 +0000
41000 at time Thu, 02 Nov 2017 04:33:31 +0000
42000 at time Thu, 02 Nov 2017 04:33:42 +0000
43000 at time Thu, 02 Nov 2017 04:33:53 +0000
44000 at time Thu, 02 Nov 2017 04:34:05 +0000
45000 at time Thu, 02 Nov 2017 04:34:16 +0000
46000 at time Thu, 02 Nov 2017 04:34:28 +0000
47000 at time Thu, 02 Nov 2017 04:34:39 +0000

Merge our original data with the responses from ORES, and save it

In [17]:
dfresponse['rev_id'] = dfresponse['rev_id'].astype(int)
df = df.merge(right=dfresponse, how='inner', on='rev_id')
df.to_csv('page_data_responses.csv')

# Assign the correct column names to the dataset
df.columns = ['article_name','country','revision_id','article_quality']
df.loc[0:10]

,article_name,country,revision_id,article_quality
0,Template:ZambiaProvincialMinisters,Zambia,235107991,Stub
1,Bir I of Kanem,Chad,355319463,Stub
2,Template:Zimbabwe-politician-stub,Zimbabwe,391862046,Stub
3,Template:Uganda-politician-stub,Uganda,391862070,Stub
4,Template:Namibia-politician-stub,Namibia,391862409,Stub
5,Template:Nigeria-politician-stub,Nigeria,391862819,Stub
6,Template:Colombia-politician-stub,Colombia,391863340,Stub
7,Template:Chile-politician-stub,Chile,391863361,Stub
8,Template:Fiji-politician-stub,Fiji,391863617,Stub
9,Template:Solomons-politician-stub,Solomon Islands,391863809,Stub
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188,Stub

Prepare a table to group by country to find proportion of all articles with respect to population in each country.

In [18]:
# 1st aggregate up the left dataset to country before joining
# 2nd join on country since the right is already one row per country
dfall = df.groupby(by='country')['revision_id'].count()
dfall = dfall.reset_index()
dfall = dfall.merge(right=dfpop, how='inner', on='country')
dfall.columns = ['country','rev_id_count','population']
dfall['proportion'] = dfall['rev_id_count']/dfall['population']
dfall

                  country  rev_id_count  population    proportion
0             Afghanistan           327    32247000  1.014048e-05
1                 Albania           460     2892000  1.590595e-04
2                 Algeria           119    39948000  2.978873e-06
3                 Andorra            34       78000  4.358974e-04
4                  Angola           110    25000000  4.400000e-06
5     Antigua and Barbuda            25       90000  2.777778e-04
6               Argentina           496    42426000  1.169094e-05
7                 Armenia           199     3017106  6.595725e-05
8               Australia          1566    23888000  6.555593e-05
9                 Austria           340     8615955  3.946167e-05
10             Azerbaijan           182     9651000  1.885815e-05
11                Bahamas            20      377000  5.305040e-05
12                Bahrain            42     1412299  2.973875e-05
13             Bangladesh           324   160411000  2.019812e-06
14               Barbados            14      278000  5.035971e-05
15                Belarus            72     9524247  7.559653e-06
16                Belgium           523    11211064  4.665034e-05
17                 Belize            16      368000  4.347826e-05
18                  Benin            94    10583034  8.882141e-06
19                 Bhutan            33      757000  4.359313e-05
20                Bolivia           187    10475500  1.785118e-05
21     Bosnia-Herzegovina           178     3650114  4.876560e-05
22               Botswana            68     2139900  3.177719e-05
23                 Brazil           556   204519398  2.718569e-06
24               Bulgaria           226     7181000  3.147194e-05
25           Burkina Faso            97    18450400  5.257339e-06
26                Burundi            76    10742000  7.075033e-06
27               Cambodia           217    15417100  1.407528e-05
28               Cameroon           106    23739000  4.465226e-06
29                 Canada           852    35833000  2.377697e-05
..                    ...           ...         ...           ...
157                 Sudan            98    40883900  2.397032e-06
158              Suriname            40      576000  6.944444e-05
159             Swaziland            32     1286000  2.488336e-05
160                Sweden           380     9804792  3.875656e-05
161           Switzerland           407     8292851  4.907842e-05
162                 Syria           132    17065000  7.735130e-06
163                Taiwan           503    23468000  2.143344e-05
164            Tajikistan            40     8452153  4.732522e-06
165              Tanzania           408    52291000  7.802490e-06
166              Thailand           112    65121250  1.719869e-06
167                  Togo            65     7231000  8.989075e-06
168                 Tonga            63      103300  6.098742e-04
169   Trinidad and Tobago            28     1351000  2.072539e-05
170               Tunisia           140    11026000  1.269726e-05
171                Turkey           353    78215000  4.513201e-06
172          Turkmenistan            33     5373000  6.141820e-06
173                Tuvalu            55       11800  4.661017e-03
174                Uganda           188    40141000  4.683491e-06
175               Ukraine           304    42828300  7.098110e-06
176  United Arab Emirates            60     9577000  6.265010e-06
177        United Kingdom           867    65092000  1.331961e-05
178         United States          1098   321234172  3.418067e-06
179               Uruguay           290     3562000  8.141494e-05
180            Uzbekistan            29    31290791  9.267902e-07
181               Vanuatu            62      277500  2.234234e-04
182             Venezuela           135    30620000  4.408883e-06
183               Vietnam           191    91714080  2.082559e-06
184                 Yemen           122    26737000  4.562965e-06
185                Zambia            26    15473900  1.680249e-06
186              Zimbabwe           167    17354000  9.623142e-06

[187 rows x 4 columns]

Prepare a table which groups by country to find highest proportion of good articles by population.

In [20]:
# flag those which are FA or GA as true, then implicitly convert boolean array to int
df['high_quality'] = ((df.article_quality == 'FA') | (df.article_quality == 'GA'))*1

# sum by the highquality 1 or 0 field, grouping by country
dfhighquality = df.groupby(by=['country'])['high_quality'].sum()

# set the country index as its own named column
dfhighquality = dfhighquality.reset_index()

# join this now to the population dataset to be able to compute proportions
dfhighquality = dfhighquality.merge(right=dfpop, how='inner', on='country')
dfhighquality.columns = ['country','high_quality_count','population']
dfhighquality['proportion'] = dfhighquality['high_quality_count']/dfhighquality['population']

dfhighquality

                  country  high_quality_count  population    proportion
0             Afghanistan                  19    32247000  5.892021e-07
1                 Albania                   5     2892000  1.728907e-06
2                 Algeria                   3    39948000  7.509763e-08
3                 Andorra                   0       78000  0.000000e+00
4                  Angola                   2    25000000  8.000000e-08
5     Antigua and Barbuda                   0       90000  0.000000e+00
6               Argentina                  16    42426000  3.771272e-07
7                 Armenia                   6     3017106  1.988661e-06
8               Australia                  44    23888000  1.841929e-06
9                 Austria                   3     8615955  3.481912e-07
10             Azerbaijan                   3     9651000  3.108486e-07
11                Bahamas                   0      377000  0.000000e+00
12                Bahrain                   0     1412299  0.000000e+00
13             Bangladesh                   6   160411000  3.740392e-08
14               Barbados                   0      278000  0.000000e+00
15                Belarus                   2     9524247  2.099904e-07
16                Belgium                   0    11211064  0.000000e+00
17                 Belize                   0      368000  0.000000e+00
18                  Benin                   6    10583034  5.669452e-07
19                 Bhutan                   3      757000  3.963012e-06
20                Bolivia                   3    10475500  2.863825e-07
21     Bosnia-Herzegovina                   6     3650114  1.643784e-06
22               Botswana                   1     2139900  4.673116e-07
23                 Brazil                   5   204519398  2.444756e-08
24               Bulgaria                   3     7181000  4.177691e-07
25           Burkina Faso                   4    18450400  2.167975e-07
26                Burundi                   0    10742000  0.000000e+00
27               Cambodia                   6    15417100  3.891783e-07
28               Cameroon                   1    23739000  4.212477e-08
29                 Canada                  25    35833000  6.976809e-07
..                    ...                 ...         ...           ...
157                 Sudan                   3    40883900  7.337852e-08
158              Suriname                   0      576000  0.000000e+00
159             Swaziland                   0     1286000  0.000000e+00
160                Sweden                   6     9804792  6.119457e-07
161           Switzerland                   0     8292851  0.000000e+00
162                 Syria                   8    17065000  4.687958e-07
163                Taiwan                   5    23468000  2.130561e-07
164            Tajikistan                   0     8452153  0.000000e+00
165              Tanzania                   1    52291000  1.912375e-08
166              Thailand                   3    65121250  4.606791e-08
167                  Togo                   1     7231000  1.382935e-07
168                 Tonga                   0      103300  0.000000e+00
169   Trinidad and Tobago                   1     1351000  7.401925e-07
170               Tunisia                   0    11026000  0.000000e+00
171                Turkey                   4    78215000  5.114109e-08
172          Turkmenistan                   0     5373000  0.000000e+00
173                Tuvalu                   1       11800  8.474576e-05
174                Uganda                   1    40141000  2.491218e-08
175               Ukraine                  17    42828300  3.969338e-07
176  United Arab Emirates                   2     9577000  2.088337e-07
177        United Kingdom                  54    65092000  8.295950e-07
178         United States                  86   321234172  2.677175e-07
179               Uruguay                   2     3562000  5.614823e-07
180            Uzbekistan                   2    31290791  6.391657e-08
181               Vanuatu                   3      277500  1.081081e-05
182             Venezuela                   4    30620000  1.306336e-07
183               Vietnam                  18    91714080  1.962621e-07
184                 Yemen                   2    26737000  7.480271e-08
185                Zambia                   0    15473900  0.000000e+00
186              Zimbabwe                   2    17354000  1.152472e-07

[187 rows x 4 columns]

### Analysis

1) Display the 10 highest-ranked countries in terms of number of politician articles as a proportion of country population

In [21]:
dfall.sort_values(by='proportion', ascending=False)[0:10]

                            country  rev_id_count  population  proportion
120                           Nauru            53       10860    0.004880
173                          Tuvalu            55       11800    0.004661
141                      San Marino            82       33000    0.002485
113                          Monaco            40       38088    0.001050
97                    Liechtenstein            29       37570    0.000772
107                Marshall Islands            37       55000    0.000673
72                          Iceland           206      330828    0.000623
168                           Tonga            63      103300    0.000610
3                           Andorra            34       78000    0.000436
54   Federated States of Micronesia            38      103000    0.000369

2) Display 10 lowest-ranked countries in terms of number of politician articles as a proportion of country population

In [22]:
dfall.sort_values(by='proportion', ascending=True)[0:10]

                 country  rev_id_count  population    proportion
73                 India           990  1314097616  7.533687e-07
34                 China          1138  1371920000  8.294944e-07
74             Indonesia           215   255741973  8.406911e-07
180           Uzbekistan            29    31290791  9.267902e-07
53              Ethiopia           105    98148000  1.069813e-06
86          Korea, North            39    24983000  1.561062e-06
185               Zambia            26    15473900  1.680249e-06
166             Thailand           112    65121250  1.719869e-06
38   Congo, Dem. Rep. of           142    73340200  1.936182e-06
13            Bangladesh           324   160411000  2.019812e-06

3) 10 highest-ranked countries in terms of number of GA and FA-quality articles as a proportion of all articles about politicians from that country

In [23]:
dfhighquality.sort_values(by='proportion', ascending=False)[0:10]

                   country  high_quality_count  population  proportion
173                 Tuvalu                   1       11800    0.000085
181                Vanuatu                   3      277500    0.000011
72                 Iceland                   3      330828    0.000009
64                 Grenada                   1      111000    0.000009
77                 Ireland                  31     4630308    0.000007
104               Maldives                   2      346946    0.000006
19                  Bhutan                   3      757000    0.000004
59                   Gabon                   6     1751000    0.000003
115             Montenegro                   2      622421    0.000003
129  Palestinian Territory                  12     4481195    0.000003

4) 10 lowest-ranked countries in terms of number of GA and FA-quality articles as a proportion of all articles about politicians from that country

In [24]:
dfhighquality.sort_values(by='proportion', ascending=True)[0:10]

        country  high_quality_count  population  proportion
69       Guyana                   0      743000         0.0
117  Mozambique                   0    25736000         0.0
83   Kazakhstan                   0    17544274         0.0
85     Kiribati                   0      113400         0.0
146  Seychelles                   0       92833         0.0
26      Burundi                   0    10742000         0.0
113      Monaco                   0       38088         0.0
46     Dominica                   0       68000         0.0
120       Nauru                   0       10860         0.0
45     Djibouti                   0      900000         0.0